.top {
    width: 100%;
    height: 66px;
    background-color: #ffffff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    z-index: 99999;
    background-color: #ffffff;
}

.header-content {
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 66px;
    margin: 0 auto;
}

.header-left {
    display: flex;
    align-items: center;
    width: 520px;
    height: 66px;
}

.header-right {
    width: 680px;
    height: 66px;
}

.logo-img {
    width: 132px;
    height: 52px;
    cursor: pointer;
}

.header-nav {
    width: 100%;
    height: 66px;
    display: flex;
    align-items: center;
}

.nav-item {
    height: 62px;
    flex: 1;
    text-align: center;
}

.nav-item-text {
    display: inline-block;
    line-height: 62px;
    height: 66px;
    padding: 0 10px;
    font-size: 16px;
    color: #666666;
    cursor: pointer;
}

.nav-item-text:hover {
    color: #10ae78;
}

.active-item {
    height: 64px;
    color: #10ae78;
    border-bottom: 4px solid #10ae78;
}
